@page
@model RazorTicket.Pages_Tickets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.TicketDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.TicketDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.DateOpened)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.DateOpened)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.DateModified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.DateModified)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.DateClosed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.DateClosed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.ReportingUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.ReportingUser.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.AssignedUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.AssignedUser.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Status.StatusId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Priority.PriorityId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Category.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Subcategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Subcategory.SubcategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ticket.TicketId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
