@page
@model RazorTicket.Pages_Activities.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Activity[0].ActivityDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity[0].ActivityDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity[0].Ticket)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Activity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserDisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ticket.TicketId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ActivityId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ActivityId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ActivityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
