@page
@model RazorTicket.Pages_Priorities.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Priority[0].PriorityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority[0].PriorityDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Priority) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PriorityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriorityDescription)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PriorityId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PriorityId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PriorityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
