@page
@model RazorTicket.Pages_Subcategories.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Subcategory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subcategory.SubcategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subcategory.SubcategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subcategory.SubcategoryDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subcategory.SubcategoryDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Subcategory.SubcategoryId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
